@model List<BaiTap_23WebC_Nhom10.Models.Product>

<div class="single-sidebar">
    <h2 class="sidebar-title">Recent Posts</h2>
    <ul>
        @foreach (var p in Model.Take(5))
        {
            <li>
                <a asp-controller="Product" asp-action="Detail" asp-route-slug="@p.slug">@p.productName</a>
            </li>
        }
    </ul>
</div>
