@section title {
    Access Denided!!!
}
<div class="container text-center mt-5">
    <h1 class="text-danger">Bạn không có quyền truy cập trang này</h1>
    <p>Vui lòng đăng nhập bằng tài khoản phù hợp.</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary mt-3">Đăng nhập</a>
</div>