@section title {
    404 Not Found - eElectronics - HTML eCommerce Template
}
@section css {
}
@section js {
}
@section subtitle {
	<div class="product-big-title-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="product-bit-title text-center">
						<h2>404 Not Found</h2>
						<a asp-controller="home" asp-action="index" class="btn btn-primary">Quay lại trang chủ</a>
						<h2></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
}