<div class="col-md-4">
    <div class="single-product-widget">
        <h2 class="product-wid-title">Top Sellers</h2>
        <a href="#" class="wid-view-more">View All</a>
        @* Chèn data topSellers vào đây *@
    </div>
</div>