<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a asp-controller="home" asp-action="index">e<span>Electronics</span></a></h1>
                </div>
            </div>

            @* <div class="col-sm-6">
                <div class="shopping-item">
                    <a asp-controller="product" asp-action="cart">Cart - <span class="cart-amunt">$0</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                </div>
            </div> *@
        </div>
    </div>
</div> <!-- End site branding area -->