<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.PageName=="Home"?"active":"")"><a asp-controller="home" asp-action="index">Home</a></li>
                    <li class="@(ViewBag.PageName=="List"?"active":"")"><a asp-controller="product" asp-action="index">Product</a></li>
                   
                    @* <li class="@(ViewBag.PageName=="Cart"?"active":"")"><a asp-controller="product" asp-action="cart">Cart</a></li> *@
                    <li class="@(ViewBag.PageName=="Contact"?"active":"")"><a asp-controller="home" asp-action="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> 