<div class="related-products-wrapper">
    <h2 class="related-products-title">Related Products</h2>
    <div class="single-product">
        <div class="product-f-image" style="height: 270px; overflow: hidden; display: block; background-color: #ffffff;">
            <a href="/product/detail/${p.id}"><img src="${mainImage}" alt="" style="width: 100%; height: 100%; object-fit: contain;"></a>
        </div>
        <h2><a href="/product/detail/${p.id}">${p.productName}</a></h2>
        <div class="product-carousel-price">
            ${priceHtml}
        </div>
    </div>
</div>